.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-right: 32px;
  padding-left: 32px;
}

.main-input{
  flex-grow: 1;
  margin-top: 12px;
  align-items: center;
  justify-content: center;
}

.teclado-container{
  flex-grow: 1;
  margin-bottom: 12px;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.row1 {
  margin-left: 23px;
}

.key {
  height: 58px;
  min-width: 42px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  color: black;
  background-color: #d3d6da;
  font-size: 13px;
  font-weight: bold;
  user-select: none;
}

.certo {
  height: 58px;
  min-width: 42px;
  	margin-right: 6px;
  display: flex;
  align-items: center;
  	justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: #d3d6da;
  font-size: 13px;
  font-weight: bold;
  user-select: none;
  background-color: #6aaa64;
	color: white;
}

.meio-certo {
  height: 58px;
  	min-width: 42px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: #d3d6da;
  font-size: 13px;
  font-weight: bold;
  user-select: none;
  background-color: #c9b458;
	color: white;
}

.errado {
  height: 58px;
  min-width: 42px;
  margin-right: 6px;
  display: flex;
  	align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: #d3d6da;
  font-size: 13px;
  font-weight: bold;
  user-select: none;
  background-color: #86888a;
  color: white;
}

.key:hover {
  background-color: #bbb;
}

.try-container{
  display: flex;
}

.letter-container{
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-bottom: 0.25rem;
  background-color: rgb(51, 65, 85);
  border: 2px solid rgb(148, 163, 184);
  border-radius: 0.25rem;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.has-text {
  border-color: #999;
}

.partial {
  background-color: #c9b458;
  border-color: #c9b458;
  color: white;
}

.wrong {
  background-color: #86888a;
	border-color: #86888a;
  color: white;
}

.match {
  background-color: #6aaa64;
  border-color: #6aaa64;
	color: white;
}

.message {
  position: absolute;
	top: 82px;
	padding: 16px 24px;
	background-color: black;
	color: white;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
	opacity: 0;
}

.show {
  opacity: 1;
}

.fade-out{
  opacity: 0;
  transition: opacity 500ms;
}

@media screen and (max-width: 768px){
  .key {
    height: 48px;
    min-width: 30px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    color: black;
    background-color: #d3d6da;
    font-size: 13px;
    font-weight: bold;
    user-select: none;
  }
  
  .certo {
    height: 48px;
    min-width: 30px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    user-select: none;
    background-color: #6aaa64;
    color: white;
  }
  
  .meio-certo {
    height: 48px;
    min-width: 30px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    user-select: none;
    background-color: #c9b458;
    color: white;
  }
  
  .errado {
    height: 48px;
    min-width: 30px;
    margin-right: 6px;
    display: flex;
      align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    user-select: none;
    background-color: #86888a;
    color: white;
  }
}