<div class="container">
  <div class="title-container">
    <h1 class="title">Charada</h1>
    <div class="subtitle">José Pedro Camboim Homenhuck</div>
  </div>

  <div class="main-input">
    <div class="try-container" *ngFor="let try of tries" #tryContainer>
      <div class="letter-container" *ngFor="let letter of try.letters"
          [class.has-text] = "letter.text !== ''"
          [class.match] = "letter.state === LetterState.FULL_MATCH"
          [class.partial] = "letter.state === LetterState.PARTIAL_MATCH"
          [class.wrong] = "letter.state === LetterState.WRONG">
        {{letter.text}}
      </div>
    </div>
  </div>

  <div class="teclado-container">
    <div [class]="['row' + i, 'row'].join(' ')" *ngFor="let row of keyboardRows; let i = index">
      <div [class]="'key'" *ngFor="let key of row" [class]="getKeyClass(key)" [class.enter]="key === 'Enter'" (click)="handleClickKey(key)">
        {{key}}
      </div>
    </div>
  </div>
</div>
